<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../icon.png" type="image/png">
    <title>專案名稱</title>
    <script src="../../lib/p5.min.js"></script>
    <script src="../../lib/p5.flex.js"></script>

    <script src="../../lib/tool.js"></script>
    <!-- <script src="../../lib/save.js"></script> -->
    <!-- <script src="../../lib/easing.js"></script> -->

    <!-- <script src="https://tetunori.github.io/p5MovRec/dist/1.0.0/advanced/p5MovRec.js"></script> -->
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #111;
            font-family: Arial, sans-serif;
        }
        main {
            text-align: center;
        }
    </style>
</head>

<body>
    <main>
        <script src="sketch.js"></script>
    </main>
</body>

</html>